<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}base page{% endblock %}</title>
    {% load staticfiles %}
    <link  href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link  href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block otherlink %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'blog:index' %}">Erlie&apos;s Blog</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'blog:index' %}">Index</a></li>
                    <li><a href="{% url 'blog:list' %}">Blog List</a></li>
                    <li><a href="{% url 'blog:drafts' %}">Drafts</a></li>
                </ul>
                {% if user.is_authenticated %}
                    <a href="{% url 'blog:new_post' %}">
                        <button type="button" class="btn btn-primary navbar-btn navbar-right">New Post</button>
                    </a>
                    <p class="navbar-text navbar-right" id="nav-login-info">Hello, {{ user.username }}.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'logout' %}">Log out</a></p>
                {% else %}
                    <p class="navbar-text navbar-right" id="nav-login-info">Welcome, new user.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please <a href="{% url 'login' %}">Log in</a></p>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
    {% block content %}{% endblock %}
    </div>

</body>
</html>